{
    "extends": [
        "@poolofdeath20/eslint-config/react",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ]
}
