body {
    height: 100vh;
    padding: 0;
    margin: 0;
}
div#root {
    height: 100%;
    overflow: auto;
}
/* History */
.react-unix-terminal-history-container {
    display: flex;
    align-items: center;
}
.react-unix-terminal-output {
    padding: 0;
    margin: 4px 0;
    word-break: break-word;
    white-space: pre-wrap;
    line-height: normal;
}
.react-unix-terminal-output a {
    text-decoration: none;
    color: var(--react-unix-terminal-link);
}

/* Input */
.react-unix-terminal-shell-input-container {
    display: flex;
    overflow: auto;
    height: 100%;
}
.react-unix-terminal-shell-input {
    background: transparent;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    width: 100%;
}

/* Prompt */
.react-unix-terminal-user {
    color: var(--react-unix-terminal-user);
}
.react-unix-terminal-prompt-symbols {
    color: var(--react-unix-terminal-prompt-symbols);
}
.react-unix-terminal-prompt-input-arrow {
    margin: 0 8px;
}
.react-unix-terminal-name {
    color: var(--react-unix-terminal-name);
}

/* Terminal */
.react-unix-terminal-terminal {
    white-space: pre-wrap;
}
.react-unix-terminal-terminal-inner-container {
    overflow-y: auto;
    height: 100%;
}

/* ReactUnixTerminal */
.react-unix-terminal-terminal-outermost-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.react-unix-terminal-terminal-flexible-height-width-app-container {
    padding: 8px;
    box-sizing: border-box;
    background-color: var(--react-unix-terminal-background);
}
.react-unix-terminal-terminal-scrollable-container {
    padding: 16px;
    border-radius: 4px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    background-color: var(--react-unix-terminal-background);
    border: 2px solid var(--react-unix-terminal-border);
    font-family: var(--react-unix-terminal-font-family);
    color: var(--react-unix-terminal-normal-text);
}
.react-unix-terminal-terminal-scrollable-container::-webkit-scrollbar {
    width: 6px;
}
.react-unix-terminal-terminal-scrollable-container::-webkit-scrollbar-track {
    background-color: transparent !important;
}
.react-unix-terminal-terminal-scrollable-container::-webkit-scrollbar-thumb {
    background-color: var(--react-unix-terminal-scrollbar-thumb);
}
.react-unix-terminal-terminal-container {
    box-sizing: border-box;
    min-height: 100%;
    background-color: var(--react-unix-terminal-background);
    color: var(--react-unix-terminal-normal-text);
}
